@model IEnumerable<TaskManager.Models.Notification>

@{
    ViewBag.Title = "Notifications";
}

<h2>All Notifications</h2>

@if (!Model.Any())
{
    <h4>No notifications!</h4>
}
else
{
    using (Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    }

    foreach (var item in Model)
    {<div class="well well-lg">

            @if (item.Read == false)
            {
                <span class="label label-danger unread">NEW</span>
                if (item.IsProject)
                {
                    @Html.ActionLink(item.Content, "Details", "Projects", new { id = item.ItemID }, new { @class = "text-danger h4 text-align-mid" })
                }
                else
                {
                    @Html.ActionLink(item.Content, "Details", "Tasks", new { id = item.ItemID }, new { @class = "text-danger h4 text-align-mid" })
                }
            }
            else
            {
                if (item.IsProject)
                {
                    @Html.ActionLink(item.Content, "Details", "Projects", new { id = item.ItemID }, new { @class = "h4 text-align-mid" })
                }
                else
                {
                    @Html.ActionLink(item.Content, "Details", "Tasks", new { id = item.ItemID }, new { @class = "h4 text-align-mid" })
                }
            }
        </div>
    }
}

@section scripts {
    @Scripts.Render("~/bundles/notifications")
}