@model TaskManager.Models.ProjectTask
@using TaskManager.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Details";
}
<br />

@if (TaskManager.Models.Membership.UserInRole(User.Identity.GetUserId(), "manager"))
{
    <div style="display: flex; justify-content:space-between; align-items: center;">
        <div>
            @Html.ActionLink("Project Details", "Details", "Projects", new { id = Model.ProjectID }, new { @class = "btn btn-primary" })
        </div>

        <div>
            @using (Html.BeginForm("Delete", "Tasks", new { id = Model.ID }))
            {
                <input type="submit" value="Delete" class="btn btn-danger" />
            }
        </div>
    </div>
}


<h2><strong>Task:</strong> @Model.Name</h2>

<div class="panel panel-@(Model.PriorityClassName)">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        <div>Completion Percentage : @Model.CompletionPercentage%</div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @Model.CompletionPercentage%;" aria-valuenow="@Model.CompletionPercentage" aria-valuemin="0" aria-valuemax="100">@Model.CompletionPercentage%</div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Developer</th>
                <th>Created</th>
                <th>Deadline</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Developer.Email</td>
                <td>@Model.DateCreated.ToShortDateString()</td>
                <td>@Model.Deadline.ToShortDateString()</td>
                <td>@(Model.DateCompleted == null ? "Incomplete" : Model.DateCompleted.ToString())</td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Comments:</h4>
@if (Model.Comments.Count == 0)
{
    <div>No Comments</div>
}
<ul class="list-group">
    @foreach (var comment in Model.Comments)
    {
        <li class="list-group-item">@comment.Content</li>
    }
</ul>

<div>
    @if (User.Identity.GetUserId() == Model.DeveloperID)
    {
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 49%;">
                <div class="panel panel-default">
                    <div class="panel-heading">Update Completion Percentage</div>
                    <div class="panel-body">
                        @using (Html.BeginForm("UpdatePercent", "Tasks", new { id = Model.ID }))
                        {
                            <label>Percentage: <span id="percent"></span>%</label>
                            @Html.EditorFor(model => model.CompletionPercentage, new { htmlAttributes = new { type = "range", min = "0", max = "100", value = @Model.CompletionPercentage, @class = "slider", id = "slider", style = "max-width: 900px; width: 100%;" } })
                            <input type="submit" value="Update" class="btn btn-primary" style="margin-top: 15px;" />
                        }
                    </div>
                </div>
            </div>
            <div style="width: 49%;">
                @if (Model.CompletionPercentage == 100)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">Comment</div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Comment", "Tasks", new { TaskID = Model.ID, DeveloperID = User.Identity.GetUserId() }))
                            {
                                @Html.TextArea("Content", new { style = "max-width: 900px; width: 100%;"}) <br />
                                <input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 4px;" />
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<script>
    let slider = document.getElementById("slider");
    let output = document.getElementById("percent");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>

