@model ICollection<TaskManager.Models.ProjectTask>

@{
    ViewBag.Title = "Index";
}

<h2>Tasks Dashboard</h2>

<div class="panel panel-info">
    <div class="panel-heading">All Tasks</div>
    <div class="panel-body">
        <div class="threes">
            @foreach (var task in Model)
            {
            <div class="panel panel-@task.PriorityClassName self-start">
                <div class="panel-heading">@Html.ActionLink(task.Name, "Details", "Tasks", new { id = task.ID }, null)<span class="pull-right">@task.Deadline.ToShortDateString()</span></div>
                @if (task.DateCompleted != null)
                {
                    <div class="panel-footer">Completed on: @task.DateCompleted</div>
                }
                else
                {
                    <div class="panel-footer">Completion Percentage : @task.CompletionPercentage%</div>
                }
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @task.CompletionPercentage%;" aria-valuenow="@task.CompletionPercentage" aria-valuemin="0" aria-valuemax="100">@task.CompletionPercentage%</div>
                </div>
            </div>
            }
        </div>
    </div>
</div>