@model List<TaskManager.Models.ProjectTask>
@{
    ViewBag.Title = "TasksNotFinishedOnTime";
}

<h2>Tasks Past Deadline</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayName("Name")</th>
            <th scope="col">@Html.DisplayName("Developer")</th>
            <th scope="col">@Html.DisplayName("Deadline")</th>
            <th scope="col">@Html.DisplayName("Completed")</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@Html.ActionLink(task.Name, "Details", "Tasks", new { id = task.ID }, null)<span class="label label-warning" style="margin-left: 10px;">#comments</span></td>
                <td>@task.Developer.Email</td>
                <td>@task.Deadline.ToShortDateString()</td>
                <td>@task.CompletionPercentage%</td>
            </tr>
        }
    </tbody>
</table>

