@model TaskManager.Models.Project
@using TaskManager.Models;
@{ ViewBag.Title = "Details"; }

<br />

<div style="display: flex; justify-content:space-between; align-items: center;">
    <div>
        @Html.ActionLink("Back to Dashboard", "Index", null, new { @class = "btn btn-primary" })
    </div>

    <div>
        @using (Html.BeginForm("Delete", "Projects", new { id = Model.ID }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
    </div>
</div>

<h2><strong>Project:</strong> @Model.Name <span class="pull-right">Deadline: @Model.Deadline.ToShortDateString()</span></h2>
<h4>
    Budget: $@Model.Budget
    @if (Model.TotalCost > 0)
    {
        <span>Total Cost: $@Model.TotalCost</span>
    }
    <span class="pull-right">@(@Model.DateCompleted != null ? "Completed: "+@Model.DateCompleted : "")</span>
</h4>

<h3>Tasks</h3>
<div style="display: flex;">
    @using (Html.BeginForm("Details", "Projects", new { id = Model.ID, filter = ViewBag.Filter }))
    {
        <input type="submit"
               value="Hide Completed"
               class="btn btn-@(ViewBag.Filter == "hide" ? "success" : "default")" />
    }
    @using (Html.BeginForm("Details", "Projects", new { id = Model.ID, sort = ViewBag.Sort }))
    {
        <input style="margin-left: 10px;"
               type="submit"
               value="Priority"
               class="btn btn-@(ViewBag.Sort == "highPriority" ? "success" : "default")" />
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayName("Name")</th>
            <th scope="col">@Html.DisplayName("Developer")</th>
            <th scope="col">@Html.DisplayName("Deadline")</th>
            <th scope="col">@Html.DisplayName("Completed")</th>
            <th scope="col">@Html.DisplayName("Date Completed")</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr class=@(task.Priority == Priority.High ? "warning" : "")>
                <td>@Html.ActionLink(task.Name, "Details", "Tasks", new { id = task.ID }, null)</td>
                <td>@task.Developer.UserName</td>
                <td>@task.Deadline.ToShortDateString()</td>
                <td>@task.CompletionPercentage%</td>
                <td>@(task.DateCompleted == null ? "Incomplete" : task.DateCompleted.ToString())</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Deadline.Date > DateTime.Now.Date)
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-task-modal">
        Add Task
    </button>
}

<div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Task</h4>
            </div>
            @using (Html.BeginForm("Create", "Tasks", new { ProjectID = Model.ID }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(false, "Errors", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="form-group">
                        @Html.Label("New Task")
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        @Html.Label("Deadline")
                        <input type="date" name="Deadline" class="form-control" />
                    </div>
                    <div class="form-group">
                        @Html.Label("Priority")
                        @Html.DropDownList("Priority", (SelectList)ViewBag.Priorities, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Developer")
                        @Html.DropDownList("DeveloperID", (SelectList)ViewBag.Developers, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add" />
                </div>
            }
        </div>
    </div>
</div>


