@model TaskManager.Models.Project
@using TaskManager.Models;
@{ ViewBag.Title = "Details"; }

<br />

<div style="display: flex; justify-content:space-between; align-items: center;">
    <div>
        @Html.ActionLink("Back to Dashboard", "Index", null, new { @class = "btn btn-primary" })
    </div>

    <div>
        @using (Html.BeginForm("Delete", "Projects", new { id = Model.ID }))
        {
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
    </div>
</div>

<h2><strong>Project:</strong> @Model.Name <span class="pull-right">Deadline: @Model.Deadline.ToShortDateString()</span></h2>
<h4>
    Budget: $@Model.Budget
    @if (Model.TotalCost > 0)
    {
    <span>Total Cost: $@Model.TotalCost</span>
    }
    <span class="pull-right">Completed: @Model.DateCompleted</span>
</h4>

<h3>Tasks</h3>
<div style="display: flex;">
    @using (Html.BeginForm("Details", "Projects", new { id = Model.ID, filter = ViewBag.Filter }))
    {
        <input type="submit" value="Hide Completed" class="btn btn-success" />
    }
    @using (Html.BeginForm("Details", "Projects", new { id = Model.ID, sort = ViewBag.Sort}))
    {
        <input style="margin-left: 10px;" type="submit" value="Priority" class="btn btn-success" />
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayName("Name")</th>
            <th scope="col">@Html.DisplayName("Developer")</th>
            <th scope="col">@Html.DisplayName("Deadline")</th>
            <th scope="col">@Html.DisplayName("Completed")</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr class=@(task.Priority == Priority.High ? "warning" : "")>
                <td>@Html.ActionLink(task.Name, "Details", "Tasks", new { id = task.ID }, null)</td>
                <td>@task.Developer.Email</td>
                <td>@task.Deadline.ToShortDateString()</td>
                <td>@task.CompletionPercentage%</td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Create", "Tasks", new { ProjectID = Model.ID }))
{
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false, "Errors", new { @class = "text-danger" })
        </div>
    }

    <div class="form-group">
        @Html.Label("New Task")
        <input type="text" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Deadline")
        <input type="date" name="Deadline" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Priority")
        @Html.DropDownList("Priority", (SelectList)ViewBag.Priorities, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.Label("Developer")
        @Html.DropDownList("DeveloperID", (SelectList)ViewBag.Developers, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <input type="submit" value="Add" name="add-task" class="btn btn-primary" />
}


