@model IEnumerable<TaskManager.Models.Project>
@using TaskManager.Models;
@{ ViewBag.Title = "Projects Dashboard"; }

<h2>Projects Dashboard</h2>

@foreach (var project in Model)
{
    <div class="panel panel-@project.PriorityClassName">
        <div class="panel-heading">
            @if (project.DateCompleted != null)
            {
                <i class="far fa-check-square fa-lg"></i>
            }
            @Html.ActionLink(project.Name, "Details", new { id = project.ID }) -
            Budget: $@project.Budget
            <span class="pull-right">@project.Deadline.ToShortDateString()</span>
        </div>
        <div class="panel-body">
            <h3>Tasks</h3>
            <div class="threes">
                @foreach (var task in project.Tasks)
                {
                    <div class="panel panel-default self-start">
                        <div class="panel-heading">@task.Name<span class="pull-right">@task.Deadline.ToShortDateString()</span></div>
                        <div class="panel-footer">@task.Developer.Email</div>
                    </div>
                }
            </div>
        </div>
    </div>
}