@model IEnumerable<TaskManager.Models.Project>

@{
    ViewBag.Title = "Projects Over Budget";
}

<h2>Projects Over Budget</h2>

@if (!Model.Any())
{
    <h4>No projects found over budget!</h4>
}
else
{

    foreach (var project in Model)
    {
        <div class="panel panel-@project.PriorityClassName">
            <div class="panel-heading">
                <i class="far fa-check-square fa-lg"></i>
                @Html.ActionLink(project.Name, "Details", new { id = project.ID }) -
                Budget: $@project.Budget
                - <span class="text-danger">Actual Cost: $@project.TotalCost - Over budget by: $@(project.TotalCost - project.Budget)</span>
                <span class="pull-right">@project.Deadline.ToShortDateString()</span>
            </div>
            <div class="panel-body">
                <h3>Tasks</h3>
                <div class="threes">
                    @foreach (var task in project.Tasks)
                    {
                        <div class="panel panel-default self-start">
                            <div class="panel-heading">@task.Name<span class="pull-right">@task.Deadline.ToShortDateString()</span></div>
                            <div class="panel-footer">@task.Developer.Email</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}